<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      Hemos reiniciado tu contraseña, puedes hacer login de nuevo!
    </p>
    <p>
      Tu nueva contraseña es: <strong> <%= @friendly_password %></strong>
    </p>
    <p>¡Gracias por confiar en nosotros!</p>
  </body>
</html>